{% extends "users/base.html" %}
{% load static %}

{% block content %}

    <header id="header" class="header sticky-top d-flex align-items-center">
        
        <a href="{% url "index-view" %}" class="logo">
            <span class="text-dark">
                <i class="bi bi-mortarboard-fill"></i>
                <span class="text-primary">EASY</span>
                LEARN
            </span>
        </a>

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                {% if request.user.is_authenticated %}

                    <li class="nav-item dropdown pe-3">

                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            {% if request.user.profile_photo %}
                            <img src="{{request.user.profile_photo.url}}" alt="Profile" class="rounded-circle" style="width:35px; height:35px; object-position: center;">
                            {% else %}
                            <img src="{% static "users/img/profile.jpg" %}" alt="Profile" class="rounded-circle border border-secondary" style="width:27px; height:27px;">
                            {% endif %}
                            <span class="d-none d-md-block dropdown-toggle fs-5 ps-2">{{request.user.first_name}} {{request.user.last_name.0}}</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

                            <li class="dropdown-header">
                                <h6>{{request.user.first_name}} {{request.user.last_name}}</h6>
                                <span>{{request.user.email}}</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="">
                                    <i class="bi bi-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url "logout-view" %}">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>

                        </ul>
                        
                    </li>
                    
                {% else %}

                    <li class="nav-item dropdown pe-3">

                        <a class="nav-link" href="#" data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle"></i>
                            <span class="dropdown-toggle">LOGIN</span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            
                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url "login-view" 'Student' %}">
                                    <i class="bi bi-person"></i>
                                    <span>Student</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url "login-view" 'Teacher' %}">
                                    <i class="bi bi-person"></i>
                                    <span>Teacher</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="{% url "login-view" 'Admin' %}">
                                    <i class="bi bi-person"></i>
                                    <span>Admin</span>
                                </a>
                            </li>
                            
                        </ul>

                    </li>

                    <li class="nav-item pe-3">
                        <a href="{% url "register-view" %}" class="nav-link ">
                            <i class="bi bi-person-bounding-box"></i>
                            <span>REGISTER</span>
                        </a>
                    </li>

                {% endif %}

            </ul>
        </nav>

    </header>

    <main class="main container mt-3">

        {% include "components/alert.html" %}

        {% block main %}{% endblock main %}
        
    </main>

{% endblock content %}