{% extends "users/base_site.html" %}
{% load static %}

{% block title %} Exam {% endblock title %}

{% block main %}


    <main class="main">

        <section class="section">

            <div class="row">

                <div class="col-12">

                    <div class="card">

                        <div class="card-body">

                            <h5 class="card-title fs-5 d-flex justify-content-between">
                                {{course.title}} Examination
                                <span>Marks:70</span>
                            </h5>
                            <hr>

                            <form method="post">
                                {% csrf_token %}

                                <div class="row">
                                    <div class="col text-end">
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                                            SUBMIT
                                        </button>
                                    </div>
                                </div>

                                <div class="row justify-content-center g-3">

                                    {% for question in course.exam.questions.all %}                                
                                        <div class="col-9">
    
                                            <input type="hidden" class="form-control" name="question_id[]" value="{{question.id}}">
    
                                            <h5 class="card-title d-flex justify-content-between">
                                                ({{forloop.counter}}) {{question.text}}
                                                <span>{{question.mark}} Marks</span>
                                            </h5>
    
                                            <ul class="list-group">
                                                
                                                {% for answer in question.answers.all %}
    
                                                    <li class="list-group-item">
                                                        <input type="radio" name="question[answer][{{question.id}}]" value="{{answer.id}}" class="form-check-input">
                                                        <span class="ps-2">{{forloop.counter}}: {{answer.text}}</span>
                                                    </li>
    
                                                {% endfor %}
    
                                            </ul>
    
                                        </div>
                                    {% endfor %}
                                    
                                </div>

                                <div class="modal fade" id="verticalycentered" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                        
                                            <div class="modal-header">
                                                <h5 class="modal-title">CONFIRM SUBMIT EXAM</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                        
                                            <div class="modal-body text-center">
                                                Are sure you want to submit ? <br>
                                            </div>
                        
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">SUBMIT</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>

                    </div>

                </div>

            </div>

        </section>
        



    </main>


{% endblock main %}



